.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid lightgray;
    margin: 0px 15px;
    padding-bottom: 10px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 15px;
}

.header_nav a {
  color: blue;
}


.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.header_RocketMissions {
    display: flex;
    gap: 20px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
}

.active {
  text-decoration: underline;
}
