.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid lightgray;
  margin: 20px 25px;
  padding: 0 20px 20px 20px;
}

.header_nav {
  display: none;
}

.header_nav a {
  color: blue;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.header_RocketMissions {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}

.active {
  text-decoration: underline;
}

/* Desktop Queries 768px up */

@media only screen and (min-width: 768px) {
  .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 15px;
  }
}
