table,
th,
td {
  border: 1px solid rgb(230, 226, 226);
  border-collapse: collapse;
  padding: 0.6rem 0.4rem;
}

button {
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.list-container {
  margin: 2rem auto;
  width: 90vw;
  max-width: 1900px;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}

.button-container {
  vertical-align: middle;
  padding: 0 1rem;
}

.mission_span {
  white-space: nowrap;
}

.button-status {
  padding: 0.2rem 0.3rem;
  font-weight: 600;
  border: none;
  background-color: grey;
  color: white;
  cursor: inherit;
}

.button-join {
  border: 1.5px solid black;
  padding: 0.4rem 0.4rem;
}

tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.button-status-active {
  background-color: rgb(0, 165, 165);
}

.button-join-active {
  border: 1.5px solid red;
  color: red;
}

.mission_error_message {
  text-align: center;
  font-weight: bold;
  color: red;
}
